backend/.env
backend/vendor/
backend/storage/logs/*
!backend/storage/logs/.gitignore
backend/bootstrap/cache/*
!backend/bootstrap/cache/.gitignore
frontend/node_modules/
frontend/dist/
.vscode/
.idea/
.DS_Store
Thumbs.db
